body {
  margin: 0;
}

.home-wrapper{
  width: 100vw;
  height: 100vw;
}

.home-top-text{
  height: 5vw;
  width: 100vw;
  text-align: center;
  background-color: black;
  text-decoration-color: white;
  display: table;
}

.home-top-text span{
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.home-top-header{
  height: 100vw;
  width: 100vw;
  background-image: url("../../assets/home-image.jpg");
}

.home-top-menu{
  height: 20vw;
  width: 100vw;
}

.home-top-menu-left{
  float: left;
  width: 50%;
  padding-top: 10px;

}

.home-top-menu-right{
  padding-top: 10px;
  color: white;
  width: 50%;
  height: 20vw;
  display: flex;
  flex-direction: row-reverse;
}
.home-top-menu-right div{
  width: 30%;
  justify-content: space-between;
}

.home-top-search{
  height: 20vw;
  width: 100vw;
}

.airbnb-logo{
  width: 46px;
}


